body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    width: 100%;
}

.zone-header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: #4caf50;
    color: white;
    position: relative;
}

.back-button {
    position: absolute;
    margin-bottom: 10px;
    left: 10px;
    text-decoration: none;
    color: white;
    font-size: 90px;
    font-weight: bold;
}

.zone-header h1 {
    flex: 1;
    margin: 0;
    text-align: center;
}

.mode-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #64b5f6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.status-circle {
    width: 120px;
    height: 120px;
    margin: 20px auto;
    background-color: red; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.status-text {
    font-size: 16px;
    margin-top: 10px;
    color: red;
    transition: color 0.3s;
}

.info-section {
    margin-top: 20px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    background-color: #64b5f6;
    color: white;
    border: none;
    border-radius: 5px;
    width: 90%;
    max-width: 300px;
    font-size: 14px;
}

.icon {
    width: 24px; 
    height: 24px;
    margin-right: 8px; 
    vertical-align: middle;
}

.mode-selection {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.mode-option {
    background: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
    width: 140px;
}

.mode-option img {
    width: 80px;
    height: 80px;
}

.mode-option p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.mode-option:hover {
    transform: scale(1.05);
}