* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    color: #3EB489; 
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color:#3EB489; 
}

.form-container {
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
}

.form.hidden {
    display: none;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group input:focus {
    border-color: #28a745;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.input-group input::placeholder {
    color: #999;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* ระยะห่างด้านล่างของโลโก้ */
}

.Logo img {
    max-width: 100px; /* กำหนดขนาดสูงสุดของโลโก้ */
    height: auto; /* รักษาสัดส่วนของภาพ */
}


.error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
    }
    button {
        font-size: 14px;
    }
}